[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
evasdk = "~=3.0.0"
matplotlib = "*"
progress = "*"
pyaml = "*"

[requires]
python_version = "3.8"
